{% for interface in logical_interfaces %}
interface {{ interface.name }}.{{ interface.unit }}
  {% if interface.unit is defined %}encapsulation dot1q {{ interface.unit }}{% endif %}
  ip address {{ interface['ipv4'][0]['address'] }}
{% endfor %}
