{% for interface in logical_interfaces %}
{% if interface.unit is defined and interface.unit != 0 %}
set interfaces {{ interface.name }} vlan-tagging
{% endif %}
{% if interface.unit is defined and 'lo' not in interface.name and interface.unit != 0 %}
set interfaces {{ interface.name }} unit {{ interface.unit }} vlan-id {{ interface.unit }}
{% endif %}
set interfaces {{ interface.name }} unit {{ interface.unit }} family inet address {{ interface['ipv4'][0]['address'] }}
{% endfor %}
